# Copy this file to terraform.tfvars and fill in your values
# NEVER commit terraform.tfvars to version control

aws_region   = "us-east-1"
project_name = "orchestrator"

# EKS
cluster_version    = "1.29"
node_instance_type = "t3.medium"
node_min_size      = 1
node_max_size      = 4
node_desired_size  = 2

# Secrets — use strong passwords in production
inventory_db_user     = "inv_user"
inventory_db_password = "CHANGE_ME_strong_password_1"
inventory_db_name     = "inventory_db"

billing_db_user     = "bill_user"
billing_db_password = "CHANGE_ME_strong_password_2"
billing_db_name     = "billing_db"

rabbitmq_user     = "rabbit_admin"
rabbitmq_password = "CHANGE_ME_strong_password_3"
rabbitmq_queue    = "billing_queue"
